#### Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
##### [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

players.sort(key=lambda x: x[1], reverse=True)

print(players)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

#### ______________________________________________________________________________________________________________________________________________________

#### Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
##### [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = list(map(lambda x: x**2, numbers))

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### ______________________________________________________________________________________________________________________________________________________

#### Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
##### Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
##### Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

string_tuple = tuple(map(lambda x: str(x), numbers))

print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

#### ______________________________________________________________________________________________________________________________________________________

#### Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [4]:
from functools import reduce

def multiply(x, y):
    return x * y

numbers = list(range(1, 26))

product = reduce(multiply, numbers)

print(product)

15511210043330985984000000

#### ______________________________________________________________________________________________________________________________________________________

#### Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
##### [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [5]:
def divisible_by_two_and_three(num):
    if num % 2 == 0 and num % 3 == 0:
        return True
    else:
        return False

numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

filtered_numbers = list(filter(divisible_by_two_and_three, numbers))

print(filtered_numbers)

[6, 60, 90, 120]

#### ______________________________________________________________________________________________________________________________________________________

#### Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
##### ['python', 'php', 'aba', 'radar', 'level']

In [6]:
is_palindrome = lambda s: s == s[::-1]

strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(is_palindrome, strings))

print(palindromes)

['php', 'aba', 'radar', 'level']

#### ______________________________________________________________________________________________________________________________________________________